<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <h1>
        <%= post.title %> <br>
        <small>
          submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %>
        </small>
      </h1>
    </h4>
  </div>
</div>
