<h1>All Sponsored Posts</h1>
 # #12
 <% @sponsored_posts.each do |sponsored_post| %>
 <div class="media">
   <div class="media-body">
     <h4 class="media-heading">
       <%= link_to sponsored_post.name, sponsored_post %>
     </h4>
   </div>
 </div>
 <% end %>
