<% if current_user %>
  <div class="vote-arrows pull-left">
     <div><%= link_to " ", up_vote_path(post_id: post.id), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
     <div><strong><%= post.points %></strong></div>
     <div><%= link_to " ", down_vote_path(post_id: post.id), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
  </div>
<% end %>
